<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>๋ก๊ทธ์ธ</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container login-container">
    <h2>๐ ๋ก๊ทธ์ธ</h2>

    <form action="/login" method="POST">
      <label for="username">์ด๋ฉ์ผ ๋๋ ์์ด๋</label>
      <input type="text" id="username" name="username" placeholder="example@email.com" required />

      <label for="password">๋น๋ฐ๋ฒํธ</label>
      <input type="password" id="password" name="password" placeholder="๋น๋ฐ๋ฒํธ๋ฅผ ์๋ฅํ์ธ์" required />

      <button type="submit">๋ก๊ทธ์ธ</button>
      <div>
        <h5 class="or">โโโ or โโโ</h5>
        <a href="/callback/naver">
          <img src="/lg.png" class="naver-login" alt="๋ค์ด๋ฒ๋ก ๋ก๊ทธ์ธ" />
      </a>
      </div>
    </form>

    <div class="login-links">
      <a href="/register">ํ์๊ฐ์</a>
      <span>|</span>
      <a href="/forgot-password">๋น๋ฐ๋ฒํธ ์ฐพ๊ธฐ</a>
    </div>
  </div>
</body>
</html>
